/* Reset some default browser styles */
body, h1, p, form {
    margin: 0;
    padding: 0;
}

/* Basic styling for the login container */
#login-container {
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 13px;
    box-shadow: 20px 20px 20px  black;
    box-sizing:border-box;
}

#login-form{
	color:white;
	
}
#username{
	background-color:inherit;
	padding-right:1px;
	padding-left:2px;
}
#password{
	background-color:inherit;
	padding-right:1px;
	padding-left:2px;
	
}
input{
	color:white;
}
/* Style for the form inputs and button */
form {
    margin-top: 30px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color:inherit;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	border-width:2px;
	border-style:solid;
	border-color:#ccc;
}

button:hover {
    background-color: green;
}

/* Style for the register link */
p {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color:white;
}
#register_button{
	 text-decoration: none;
    color:greenyellow;
}
